body{
    font-family: 'SUIT', sans-serif;
    background: transparent;
    margin: 0;
}

.background-container {
    height: 768px;
    width: 100vw;
    position: relative;
}

.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.movie-details {
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.movie-poster{
    margin-left: 200px;
    width: 370px;
    height: 512px;
    border-radius: 20px;
    margin-top: 148px;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.08));
}

.movie-info {
    flex: 1;
    display: flex;
    margin-top: 250px;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.movie-header{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 10px;
}

.movie-title{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 55px;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    color: #FFFFFF;
}

.genre{
    width: 116px;
    height: 41px;
    background: #F7F7F7;
    border-radius: 30px;
    font-size: 18px;
    color: #939393;
    display: flex;
    font-weight: 700;
    font-style: normal;
    line-height: 22px;
    align-items: center;
    justify-content: center;
}

.release-date{
    display: flex;
    align-items: center;
    height: 30px;
    font-weight: 500;
    margin-top: 10px ;
    font-size: 24px;
    font-style: normal;
    color: #8B8484;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 8px;
}

.rating p {
    margin: 0;
}

.score{
    font-size: 36px;
    font-weight: 400;
}

.star-rate {
    background: url("/img/icn_star_empty_set.svg") no-repeat;
    width: 220px;
    height: 44px;
    position: relative;
    display: inline-block;
}

.star-rate span {
    position: absolute;
    background: url("/img/icn_star_full_set.svg") no-repeat;
    height: 44px;
    top: 0;
    left: 0;
    display: inline-block;
}

.review-count{
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
}

.main-content {
    position: relative;
    top: -80px;
    box-sizing: border-box;
    width: 100%;
    background: #F8F8F8;
    border: 2px solid #F5F5F5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 100px 100px 0 0;
    z-index: 1;
}

.summary{
    width: 966px;
    margin-top: 125px;
    margin-bottom: 84px;
    padding-left: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #6C6C6C;
    white-space: pre;
}
