body {
    font-family: SUIT, sans-serif;
    margin: 0;
    padding: 0;
}

.movie_list_title {
    color: #151212;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 18px;
    display: block;
}

.movie_list_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 300px 300px 0;
}

.poster {
    width: 177px;
    height: 242px;
    border-radius: 20px;
}

.movie_title {
    display: block;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

.ratingBox {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.rating_icon {
    width: 13px;
    height: 13px;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.movie_rating {
    color: #F16060;
    font-size: 18px;
    font-weight: 400;
}

