.body {
    font-family: SUIT, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.nav_tab_var .nickname {
    color: #666060;
}

.logo {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 32px;
    display: flex;
}

.searchBox {
    margin: 0 auto;
    width: 770px;
    height: 68px;
    border: 2px solid #E3E3E3;
    border-radius: 60px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    display: flex;
}

.search_icon {
    padding-left: 20px;
    width: 40px;
    display: flex;
}

#search_input {
    width: calc(100% - 100px);
    border: none;
    font-size: 20px;
    outline: none;
    color: #151212;
    font-weight: 600;
}

#search_input::placeholder {
    color: #AFA8A8;
}

.movie_list {
    padding-top: 72px;
    padding-left: 300px;
    padding-bottom: 18px;
}

.movie_list_title {
    color: #151212;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 18px;
    display: block;
}

.movie_list_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 300px 300px 0;
}

.profile_menu {
    display: none; /* 기본적으로 메뉴를 숨김 */
    position: fixed; /* 뷰 위에 고정 */
    flex-direction: column;
    align-items: center; /* 자식 요소들을 수직 방향으로 가운데 정렬 */
    top: 78px; /* 원하는 위치에 배치 */
    right: 200px; /* 오른쪽 끝으로 배치 */
    width: 150px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}

#mypage_button, #login_button {
    width: 100%; /* 버튼을 부모 요소의 가로 폭에 맞춤 */
    background-color: #FFFFFF;
    font-size: 16px;
    color: #666060;
    border: none;
    cursor: pointer;
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-weight: 500;
}

#mypage_button {
    margin-top: 17px;
}

#login_button {
    margin-top: 10px;
    margin-bottom: 17px;
    padding-top: 10px;
}




