.nav_tab_var{
    position: relative;
    display: flex; /* Flexbox로 자식 요소들을 수평 정렬 */
    align-items: center; /* 자식 요소들을 수직 가운데 정렬 */
    justify-content: space-between;
    padding-top: 30px; /* 여백 추가 */
    padding-bottom: 30px; /* 여백 추가 */
    background: none; /* 배경 없음 */
}

.profile{
    display: flex;
    align-items: center;
    width: 221px;
    height: 28px;
    margin-right: 200px;
}

.profile_img{
    margin-right: 10px;
    width: 28px;
    height: 28px;
}

.nickname{
    color: #ffffff;
}