p{
    padding: 0;
    margin: 0;
}

.review{
    width: 966px;
    margin-top: 35px;
}

.review-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 11px;
}

.review-rating{
    display: flex;
    align-items: center;
    gap: 4px;
}

.reviewer{
    color: #151212;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.review-rating img{
    width: 16px;
    height: 16px;
}

.review-rating p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #F16060;
    margin: 0;
}

.review-date{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #AFA8A8;
    margin-bottom: 17px;
}

.review-text{
    color: #666060;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 27px;
}

.review-actions {
    display: flex;
    align-items: center;
}

.review-action p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.total-like{
    color: #F16060;
}

.like-comment{
    color: #AFA8A8;
}

.like-button{
    margin-left: 10px;
    width: 88px;
    height: 32px;
    border: none;
    background: #F16060;
    border-radius: 54px;
    color: #FFFFFF;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    outline: none;
}

.dislike-button{
    margin-left: 10px;
    width: 88px;
    height: 32px;
    border: none;
    background: #E3E3E3;
    border-radius: 54px;
    color: #AFA8A8;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    outline: none;
}

.review-separator{
    margin-top: 40px;
    border: 1px solid #E3E3E3;
}

