body {
    font-family: 'SUIT', sans-serif;
    background: transparent;
    margin: 0;
}

.background-container {
    width: 100%;
    height: 100%;
}

.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.review-card {
    background-color: #fff;
    border-radius: 20px;
    margin: 0 200px;
    padding: 30px;
    height: 559px;
    color: #000;
    position: relative;
}

.review-content {
    display: flex;
    flex-direction: column;
}

.rating {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
}

.input-box {
    font-family: 'SUIT', sans-serif;
    margin-top: 21px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 80%;
    resize: none;
}

.input-box::placeholder {
    color: #aaa;
}

.review-submit {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.submit-button {
    background: #F16060;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    width: 138px;
    height: 45px;
    color: #ffffff;
    margin-left: 41px;
    font-family: 'SUIT', sans-serif;
}